{{ define "main" }}
<main>
    <section id="home-hero" class="hero is-info is-large"
        style="background-image: url('{{ .Site.BaseURL }}/images/porsche.jpg');">
        <div class="hero-body">
            <div class="is-flex">
                <div id="home-hero-cover" title="Winter shot of the shop">
                    <div class="has-padding-all-5" style="max-width: 720px;">
                        <h1 class="title is-size-4-mobile is-size-1-tablet">
                            PERMANENTLY CLOSED
                        </h1>
                        <h2 class="subtitle is-size-7-mobile is-size-5-tablet has-padding-bottom-3">
                            As of 9/17/21, Ed's Auto Detailing is no longer in business, and not accepting
                            appointments. If you have a gift certificate, please call us so we can refund you.
                        </h2>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="has-padding-y-6 has-background-light">
        <div class="container has-padding-x-3-mobile">
            <h1 class="is-size-1 has-text-centered has-padding-bottom-5">Why Ed's Auto Detailing?</h1>

            <div class="columns is-8">
                <div class="column">
                    <h2 class="title is-size-3 has-text-centered has-padding-bottom-3">Experienced And Insured</h2>
                    <p class="subtitle">Fully insured and with over 6 years of experience your vehicle is in safe hands.
                    </p>
                </div>
                <div class="column">
                    <h2 class="title is-size-3 has-text-centered has-padding-bottom-3">High Quality Results</h2>
                    <p class="subtitle">All of our equipment and supplies have been hand picked and tested to ensure we
                        can achieve the quality of work we strive for.</p>
                </div>
                <div class="column">
                    <h2 class="title is-size-3 has-text-centered has-padding-bottom-3">Locally Owned</h2>
                    <p class="subtitle">Ed's Auto Detailing is not a franchise, or part of a large company. We're a part
                        of the local community.</p>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="is-flex is-flex-column is-align-center has-padding-y-5">
            {{ .Content }}
        </div>
    </div>

</main>
{{ end }}