{{ define "main" }}
<main class="has-padding-y-5 has-padding-x-2">
	<div class="container">
		<div class=" has-margin-bottom-5">
			<h1 class="is-size-4-mobile is-size-2-tablet has-text-centered has-margin-bottom-3">{{ .Title }}</h1>

			<div class="notification is-warning is-size-5-desktop is-size-6 is-flex is-flex-row is-align-center has-padding-all-3">
				<i class="mdi mdi-24px has-margin-right-1 mdi-information"></i>
				Please note that prices may vary based on condition and size of the vehicle
			</div>
		</div>

		{{ range .Pages }}
			{{ .Render "summary" }}
		{{ end }}
	</div>
</main>
{{ end }}
