{{ define "main" }}


<main class="has-padding-y-5 has-padding-x-2">
    <div class="container">
        <div class="has-padding-all-3-touch">
            <nav class="breadcrumb" aria-label="breadcrumbs">
                <ul>
                    <li><a href="{{ .Parent.Permalink }}">Services</a></li>
                    <li class="is-active"><a href="#" aria-current="page">{{ .Title }}</a></li>
                </ul>
            </nav>


            <div class="columns">
                <div class="column">
                    <div class="featured-images">
                        {{ with index (.Resources.Match "featured-images.md") 0 }}
                            {{ .Content }}
                        {{ end }}
                </div>
            </div>

                <div class="column">
			        <h1 class="has-padding-bottom-2 has-text-dark has-text-centered-mobile is-size-3 is-size-4-touch">{{ .Title }}</h1>

                    <!-- Description -->
                    <article>
                        <div> {{ .Content }}</div>
                    </article>

                    <!-- Prices -->
                    <article>
                        {{ with index (.Resources.Match "prices.md") 0 }}
                        {{ .Content }}
                        {{ end }}
                    </article>
                </div>
            </div>
        </div> 
    </div> 
</main>
{{ end }}
