<a class="has-padding-all-3-touch has-padding-all-5-desktop is-flex is-flex-row is-hoverable-light has-text-dark"
	href="{{ .Permalink }}">
	<div class="columns">
		<div class="column is-one-third is-flex is-align-center">
			<figure class="is-flex is-justify-center" style="flex: 1 1 auto;">
				<img src="{{ .Site.BaseURL }}{{.Params.thumb }}" style="max-height: 240px;"></img>
			</figure>
		</div>

		<div class="column">
			<div class="is-flex is-flex-row is-align-center">
				<div>
					<h1 class="has-padding-bottom-2 has-text-centered-mobile is-size-3 is-size-4-touch ">{{ .Title }}
					</h1>

					<p class="is-size-5 is-size-6-touch has-text-centered-mobile">
						{{ .Summary }}
						<span class="is-hidden-tablet has-text-link">Read more...</span>
					</p>

					<div class="is-flex is-flex-row has-margin-top-3 is-justify-center-mobile">
						<div class="is-flex is-flex-row is-align-center has-margin-right-4">
							<span class="icon has-margin-right-3">
								<i class="mdi mdi-48px mdi-currency-usd"></i>
							</span>

							<div>
								<p class="is-size-5-touch is-size-4">Price</p>
								<p class="is-size-6-touch is-size-5">{{ .Params.PriceRange }}</p>
							</div>
						</div>

						<div class="is-flex is-flex-row is-align-center">
							<span class="icon has-margin-right-3">
								<i class="mdi mdi-48px mdi-timelapse"></i>
							</span>

							<div>
								<p class="is-size-5-touch is-size-4">Time</p>
								<p class="is-size-6-touch is-size-5">{{ .Params.TimeEstimate }}</p>
							</div>
						</div>
					</div>
				</div>

				<i class="is-hidden-mobile mdi icon mdi-48px mdi-arrow-right has-margin-left-3"></i>
			</div>
		</div>
	</div>
</a>

<hr class="has-background-grey-lighter is-hidden-desktop" />