<article class="column">
	<div class="box has-padding-all-5 is-flex is-flex-row">
		<figure class="has-margin-right-3" style="flex: 0 0 512px;">
			<img src="{{ .Site.BaseURL }}{{.Params.featuredimage }}" />
		</figure>
		
		<div>
			<h1 class="title has-text-centered has-padding-bottom-3 has-text-dark">{{ .Title }}</h1>
			
			<p class="subtitle">
				{{ .Summary }}
				<a href="{{ .Permalink }}">More details...</a>
			</p>

			<div class="is-flex is-flex-row ">
				<div class="is-flex is-flex-row is-align-center has-margin-right-4">
					<span class="icon has-margin-right-3">
						<i class="mdi mdi-48px mdi-currency-usd"></i>
					</span>

					<div>
						<p class="title">Price</p>
						<p class="subtitle has-margin-bottom-0">{{ .Params.PriceRange }}</p>
					</div>
				</div>

				<div class="is-flex is-flex-row is-align-center">
					<span class="icon has-margin-right-3">
						<i class="mdi mdi-48px mdi-timelapse"></i>
					</span>

					<div>
						<p class="title">Time</p>
						<p class="subtitle has-margin-bottom-0">{{ .Params.TimeEstimate }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</article>
