<header>
	<div class="has-background-black-bis has-text-white has-padding-all-2">
		<div class="container">
			<div class="level is-mobile">
				<div class="level-left">
					<div class="level-item">
						<a class="has-text-white is-flex is-flex-row is-align-center" href="tel:2072137547"
							title="Phone number">
							<i class="mdi mdi-24px mdi-phone has-margin-right-2"></i>
							207-213-7547
						</a>

						<a class="has-margin-left-4 is-hidden-mobile has-text-white is-flex is-flex-row is-align-center"
							href="mailto:contact@edsautodetailing.com" title="Email">
							<i class="mdi mdi-24px mdi-email has-margin-right-2"></i>
							contact@edsautodetailing.com
						</a>
					</div>
				</div>

				<!-- <div class="level-right">
				<div class="level-item">
					<a class="has-text-white is-flex is-flex-row is-align-center" href="https://www.facebook.com/EdsAutoDetailingMaine/" target="_blank" title="Facebook">
						<span class="has-margin-right-2">Follow Us</span>
						<img src="/images/facebook_logo.png" style="height:32px;"/>
					</a>
				</div>
			</div> -->
			</div>
		</div>
	</div>

	<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
		<div class="container">
			<div class="navbar-brand is-flex is-align-center">
				<a class="navbar-item has-padding-y-2" href="{{ .Site.BaseURL }}">
					<h1 class="has-text-weight-medium is-size-4-mobile is-size-3-tablet">
						Ed's Auto Detailing
					</h1>
				</a>

				<a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
					data-target="navbar">
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
					<span aria-hidden="true"></span>
				</a>
			</div>

			<div id="navbar" class="navbar-menu">
				<div class="navbar-end">
					{{ $currentPage := . }}
					{{ range .Site.Menus.main }}
					{{ if .HasChildren }}
					<div class="navbar-item has-dropdown is-hoverable">
						<a class="navbar-link" href="{{ .URL | relURL }}"
							style="text-decoration: none!important;">{{ .Name }}</a>

						<div class="navbar-dropdown">
							{{ range .Children }}
							<a class="navbar-item" href="{{ .URL | relURL }}"
								style="text-decoration: none!important;">{{ .Name }}</a>
							{{ end }}
						</div>
					</div>
					{{ else }}
					<a class="navbar-item" href="{{ .URL | relURL }}"
						style="text-decoration: none!important;">{{ .Name }}</a>
					{{ end }}
					{{ end }}
				</div>
			</div>
		</div>
	</nav>
</header>